$font-size-base: 0.9rem !default;
$font-family-sans-serif: "Roboto",
sans-serif !default;
$bg-secondary: #fff;
$bg-primary: #f08a98;




.project-div {
    padding-bottom: 10%;
    background-color: $bg-secondary;


}

.project-title {
    padding-top: 8%;
    color: $bg-primary;
    text-align: center;
    font-family: 'Yellowtail', cursive;
}


.project-container {
    margin-top: 8.5%;
    background-color: white !important;

}

.project-jumbo {

    background-color: white !important;
    margin: 0 !important;
    padding: 0 !important;

}

.project-subtitle {
    font-family: 'Nunito', sans-serif;
    color: black !important;
    font-size: 25px;
}

.project-tools {

    color: #c3557a;
    text-align: center;
}

.project-content {
    margin: 10px;
    color: black;
    font-size: 18px;
    text-align: center;

}

.view-project {

    color: $bg-primary;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    background-color: #f3eded;
    border-radius: 5px;
    margin: 0 auto;
    width: 15vw;
    padding: 10px;


}

.project-link {
    display: inline-block;
    margin: 20px !important;

}



.projectCard {

    justify-content: center;

}



a:hover {
    text-decoration: none !important;
}


@media only screen and (max-width:991px) {
    .project-link {
        display: inline-block;
        margin: 14% !important;


    }

}


@media only screen and (max-width:778px) {
    .view-project {

        width: 37vw !important;
        font-size: 17px !important;

    }

    .project-link {
        display: inline-block;
        margin: 7px !important;
        margin-left: 28% !important;

    }

}

@media only screen and (max-width:560px) {
    .view-project {

        width: 42vw;
        font-size: 15px;

    }

    .project-link {
        display: inline-block;
        margin: 5px !important;
        margin-left: 28% !important;

    }

}