$bg-secondary: #fff;
$bg-primary: #f08a98;
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.about-container {
    margin-top: 5%;
}

.about-profile {
    width: 20vw;

}

.Typewriter {
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Yellowtail', cursive;
}

.about-title {
    margin-top: 5%;
    text-align: center;
}

.about-body {
    margin-top: 20px;
    margin: 50px;
    color: $bg-secondary;
}

@media only screen and (max-width:768px) {
    .about-profile {
        width: 50.5vw;
        margin-left: -91%;

    }


}