$bg-secondary: #fff;
$bg-primary: #f08a98;



.footer-section {

    margin-top: 5%;
    background-color: $bg-primary;
    bottom: 0px;
}

.copyright,
.copyright a {
    font-size: 10px;
    color: #c3557a;
    text-decoration: none;
    background-color: transparent;
}



.footer-icon {
    font-size: 25px;
    color: $bg-secondary;

}
.footer-icon:hover {
    
    color: #c3557a;

}


.footer-email {
    font-size: 15.5px;
    color: $bg-secondary;

}

svg {
    width: 50px;
}



@media only screen and (max-width:1024px) {



    .footer-section {

        margin-top: 5%;
        background-color: $bg-primary;

        left: 0;
        bottom: 0;
        right: 0;

    }


}

